{
	"plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 160,
	"singleQuote": false,
	"trailingComma": "all",
	"jsxSingleQuote": false,
	"tailwindStylesheet": "./src/global.css",
	"tailwindFunctions": ["cn", "cva"],
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(react-native/(.*)$)|^(react-native$)",
		"^(expo/(.*)$)|^(expo$)",
		"^(expo-router/(.*)$)|^(expo-router$)",
		"<THIRD_PARTY_MODULES>",
		"",
		"^@/lib/(.*)$",
		"^@/hooks/(.*)$",
		"^@/contexts/(.*)$",
		"^@/components/ui/(.*)$",
		"^@/components/(.*)$",
		"",
		"^[./]"
	]
}
